<div id="output">
	<div id="console"> </div>
	<textarea id="commandLine"> </textarea>
</div>

<div id="panel">
	<div id="map"> </div>

	<div id="player">
		<span id="player-hp"> </span>
		<span id="player-mp"> </span>
	</div>
</div>
<script>
(function() {
	var client = new Discord();
})();
</script>